<div class="row-fluid">
  <div class="span6">
    <h1>wheredrop</h1>
  </div>
  <div class="span6">
    <center>
      <span>
	Avant de jeter au bord des eaux</br>
	vous prendrez bien un wheredrop
      </span>
    </center>
    <!--Body content-->
  </div>
</div>
<div class="row-fluid">
  <div class="filters">
    <select class='categoryFilter' ui-select2 id="e9" multiple='' ng-model='selectedCategories' ng-options="category.name for category in categories" ng-change="changeCategory()" placeholder="Catégorie..." ></select>
    <input class='textualFilter search-query' type="text" ng-model="search.name" ng-change="changement()" placeholder="Recherche...">
  </div>
  <ul class="unstyled">
    <li tooltip="Clickez pour sélectionner !" tooltip-placement="right" class="unstyled garbagesListElement" ng-repeat="garbage in garbages | filter:search | categoryFilter:cleanSelectedCategories" ng-click="goTo(garbage._id.$oid)">
    <div class="garbageName">{{garbage.name}}</div>
    </li>
  </ul>
  <!-- <button ng-click="testAjout()"> AJOUT DES DATAS </button> -->
</div>
