<!doctype html>
<html ng-app="project">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="ressources/jquery-1.10.1.min.js"></script>
    <script src="ressources/mongolab.js"></script>
    <script src="ressources/todo.js"></script>
    <script src="ressources/select2Test.js"></script>
    <script src="ressources/select2-3.4.0/select2.js"></script>
    <link rel="stylesheet" href="ressources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="ressources/reset.css">
    <link rel="stylesheet" href="ressources/todo.css">
    <link rel="stylesheet" href="ressources/select2-3.4.0/select2.css"/>
  </head>


<body ng-view>


    <div ng-controller="ListCtrl">


      <!-- <select id="e2">
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
      </select>

      <select id="e2_2">
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
      </select> -->


      <h1>Accueil</h1>

      <input class='filter' type="text" ng-model="search.name" placeholder="Recherche">

      <ul>
        <li class="unstyled garbagesListElement" ng-repeat="garbage in garbages | filter:search | orderBy:'name'" ng-click="goTo(garbage._id.$oid)">
          <div class="garbageName">{{garbage.name}}</div>
        </li>
      </ul>

      <!-- <button ng-click="testAjout();">Ajouter les déchets</button> -->

    </div>

  </body>
</html>