<h1 class="garbageTitle">{{garbage.name}}</h1>

<div class="categoriesFromGarbageContainer">
  <ul class="unstyled">
    <li class="unstyled categoriesFromGarbage{{garbage.categories.length}} categoriesFromGarbageAll label label-info" ng-repeat="category in garbage.categories">{{category}}</li>
  </ul>
</div>

<label class="toggle well header-toggle">
  <input ng-model="isGeolocated" type="checkbox" ng-click="changeGeolocation()">
  <p>
    <span>On</span>
    <span>Off</span>
  </p>
  <a class="slide-button btn"></a>
</label>

<div class="content">
  <div id="locationsList" ng-click="accordionElementClicked()">
    <accordion close-others="oneAtATime" class="locationsList">
      <accordion-group heading="{{location.name}}" ng-repeat="location in locations" is-open="location.open" ng-click="accordionElementClicked($index)">
          Contact  : 00 00 00 00 00<br/>
          Horaires : Du lundi au vendredi, de 9h à 18h.<br/>
          Adresse  : {{location.address}}
      </accordion-group>
    </accordion>
  </div>


  <div id="map">
    <div id="map_canvas" ui-map="myMap" 
      ui-options="mapOptions" 
      ui-event="{'map-idle' : 'onMapIdle()'}"
      >
    </div>
  </div>
  <!--
    In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events
  -->
  <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
    ui-event="{'map-click': 'markerClicked($index)'}">
  </div>
  <!--
    Info Windows
  -->
  <div ng-repeat="marker in myMarkers" ui-map-info-window="myInfoWindows[$index]">
      <h5>{{locations[$index].name}}</h5>
      <h6>{{locations[$index].address}}</h6>
  </div>

</div>