      <select id="e2">
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
      </select>

      <select id="e2_2">
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
      </select>


      <h1>Accueil</h1>

      <input class='filter' type="text" ng-model="search.name" placeholder="Recherche">

      <ul>
        <li class="unstyled garbagesListElement" ng-repeat="garbage in garbages | filter:search | orderBy:'name'" ng-click="goTo(garbage._id.$oid)">
          <div class="garbageName">{{garbage.name}}</div>
        </li>
      </ul>

