.garbagesListElement:hover {
  background-color: #f3f2ef;
}

.garbagesListElement {
  border-bottom: 1px solid black;
}

.garbageName {
  width: 80%;
  padding: 1%;
}

.filters {
  width: 80%;
  margin : 0% 10% 2% 10%;
}

.textualFilter {
  width: 60%;
}
