html{
    width:100%;
    height:100%;
}

body {
  width: 100%;
  height:100%;
}

h1 {
  padding: 2%;
  font-size: 2em;
  text-align: center;
}

#maxParent {
  width: 80%;
  height:100%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 100px;
}

.title {
  border: 2px solid #3A87AD;
  border-radius: 3px;
  margin-bottom: 3%;
}

.bg-nav {
  background-color: #3A87AD;
}

.title_site {
  font-size: 55px;
  color: #fff;
  margin: 15px;
  display: block;
  float: left;
}

.tagline {
  font-size: 12px;
  color: #def;
  margin: 15px;
  display: block;
  float: left;
  font-family: serif;
}
.tagline2 {
  font-size: 10px;
  color: #dde;
  margin: 15px;
  display: block;
  font-family: serif;
}
