.garbageCategories {
  margin: 1% 0%;
}

.categoriesFromGarbageContainer {
  width: 100%;
  text-align: center;
}

.categoriesFromGarbageAll {
  margin: 0 1% 0 1%;
}

.categoriesFromGarbage1 {
  width: 45%;
}

.categoriesFromGarbage2 {
  width: 45%;
}

.categoriesFromGarbage3 {
  width: 30%;
}

.geolocationButton {
  float: right;
  margin: 1% 0%;

}

.label-info {
  color: #333333;
  background-color: #F5F5F5;
  font-size: 1em;
  font-weight:normal;
  padding: 5px 0;
}

.header-toggle {
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.accordion-heading {
  background-color: #3A87AD;
}

.accordion-heading a {
  color: #F5F5F5;
  font-weight:Bold;
}

.accordion-toggle {
  color: #333333;
}

#locationsList {
  padding-top: 5%;
  float: left;
}
#map {
  width: 100%;
  height: 100%;
  float: left;
}
/*
*/
#map_canvas {
  width: 100%;
  height: 100%;
  height: 400px; 
}

.searchAdress {
  width: 97%;
}
