.categoryFilter {
  width: 30%;
}

.categoriesFromGarbageAll {
  float: left;
  display: block;
  text-align: center;
}

.categoriesFromGarbage1 {
  width: 45%;
  margin: 0 27% 0 27%;
}

.categoriesFromGarbage2 {
  width: 45%;
  margin: 0 1% 0 1%;
}

.categoriesFromGarbage3 {
  width: 30%;
  margin: 0 1% 0 1%;
}

.label-info {
  color: #333333;
  font-size: 1em;
  background-color: #E2E2E2;
  padding: 5px 0;
}

.accordion-toggle {
  color: #333333;
}

#locationsList {
  width: 30%;
  padding: 10% 1%;
  float: left;
}

#map {
  width: 60%;
  height: 50%;
  padding: 5% 1%;
  float: right;
}

#map_canvas {
  width: 100%;
  height: 100%;
  border-radius : 2%;
  border: 3px solid #333333;
  border-right: 4px solid #333333;
}